# 声明这个配置文件是一个根配置文件，他会从该配置文件所在的目录开始扫描
config.stopBubbling=true
# 全局配置 equalsAndHashCode 的 callSuper 属性为true
lombok.equalsAndHashCode.callSuper=call
# 方便Jackson找到对应的构造函数
lombok.anyConstructor.addConstructorProperties=true
# 跳过添加一个 @java.bean.ConstructorProperties 生成的构造器
lombok.anyConstructor.suppressConstructorProperties=true
# 在可能的情况下，对所有生成的节点生成注释
lombok.addLombokGeneratedAnnotation=true
# 源文件的每个字段都设置为 private
lombok.fieldDefaults.defaultPrivate = true